<div class="row">
    <div class="col-sm-6">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered custom-list-data1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Danh sách kích hoạt</span>
                </div>
            </div>
            <div class="portlet-body">

                <div class="form-group hidden">
                    <textarea class="form-control" id="nestable-output"></textarea>
                </div>
                <div class="form-group" id="nestable-menu">
                    <button class="btn btn-primary blue btn-edit-row" type="button" data-action="expand-all"><i class="fas fa-folder-open"></i> Mở tất cả</button>
                    <button class="btn btn-primary blue btn-edit-row" type="button" data-action="collapse-all"><i class="fas fa-folder"></i> Đóng tất cả</button>
                    <button class="btn btn-primary green btn-save-row" type="button"><i class="fas fa-save"></i> Cập nhật</button>
                </div>
                <div class="cf nestable-lists">
                    <div class="dd" id="nestable">
                        
                    </div>
                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

    <div class="col-sm-6">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered custom-list-data1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Danh sách tạm dừng</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-group">
                    <button class="btn btn-primary blue" data-toggle="modal" data-target="#modal_addrow" type="button"><i class="fas fa-plus"></i> Thêm danh mục</button>
                </div>

                <div class="hide_racecat nestable-lists">
                    
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="modal fade modal_cmpost" id="modal_addrow" tabindex="-1" role="dialog" aria-labelledby="modal_addrowLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_addrowLabel">Thêm mới</h4>
            </div>
            <div class="modal-body">
                <form id="form_add" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group image_upload_box">
                                <label class="next-label">Hình ảnh</label>
                                <div class="file_upload_box">
                                    <input type="file" class="file_image">
                                    <img class="image_review" src="/public/img/no-image.png" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">

                            <div class="form-group">
                                <label class="next-label">Tiêu đề</label>
                                <input type="text" class="form-control" name="title">
                            </div>

                            <div class="form-group">
                                <label class="next-label">Mô tả ngắn</label>
                                <textarea name="summary"class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="next-label">Trạng thái</label>
                                <select class="form-control" name="status">
                                    <option value="1">Tạm dừng</option>
                                    <option value="0">Kích hoạt</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_addrow"><i class="fas fa-save"></i> Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal_cmpost" id="modal_editrow" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-modalLabel">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                <form id="form_edit" autocomplete="off">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_editrow"><i class="fas fa-pencil-alt"></i> Chỉnh sửa</button>
            </div>
        </div>
    </div>
</div>