<form name="myform" id="userForm" class="row">
    <input type="text" ng-hide="true" name="_method" value="PUT">
    <div class="col-md-8">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered custom-list-data1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green"></i>
                    <span class="caption-subject font-green bold uppercase" ng-bind="title"></span>
                </div>
            </div>
            <div class="portlet-body">

                <div class="row">
                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Name company</label>
                            <input type="text" class="form-control" ng-required="true" name="name" ng-model="setting.info_website.name" >
                        </div>
                    </div>
                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Email</label>
                            <input type="text" class="form-control" ng-required="true" name="email" ng-model="setting.info_website.email" >
                        </div>
                    </div>
                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Phone</label>
                            <input type="text" class="form-control" ng-required="true" name="phone" ng-model="setting.info_website.phone" >
                        </div>
                    </div>
                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Mã số thuế</label>
                            <input type="text" class="form-control" ng-required="true" name="mst" ng-model="setting.info_website.mst" >
                        </div>
                    </div>
                    <div class="col-xs-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Địa chỉ</label>
                            <input type="text" class="form-control" ng-required="true" name="address" ng-model="setting.info_website.address" >
                        </div>
                    </div>
                    

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="next-label">Bản đồ</label>

                            <input type="text" class="form-control" name="map" ng-model="setting.info_website.map">

                            <div class="mb-10"></div>

                            <div>
                                <a class="btn-show-map" href="#" data-toggle="modal" data-target="#modalMap">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    <span>Hiện bản đồ</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="next-label">Google analytics</label>
                            <textarea name="google_analytics" rows="5" type="text" class="form-control" ng-model="setting.info_website.google_analytics"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="next-label">Facebook pixel</label>
                            <textarea name="facebook_pixel" rows="5" type="text" class="form-control" ng-model="setting.info_website.facebook_pixel"></textarea>
                        </div>
                    </div>

<!--                     <div class="col-xs-12 ">
                        <div class="form-group">
                            <label class="next-label">Donate </label>
                            <textarea id="facebook_code" name="facebook_code" rows="5" type="text" class="form-control" ng-model="setting.info_website.facebook_code"></textarea>
                        </div>
                    </div> -->

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="next-label">Copyright</label>
                            <input type="text" class="form-control" name="copyright" ng-model="setting.info_website.copyright" >
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="next-label">Tổng dự án</label>
                            <input type="text" class="form-control" ng-required="true" name="totalduan" ng-model="setting.info_website.totalduan" >
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="next-label">Tổng khách hàng</label>
                            <input type="text" class="form-control" ng-required="true" name="totalkhachhang" ng-model="setting.info_website.totalkhachhang" >
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="next-label">Tổng đối tác</label>
                            <input type="text" class="form-control" ng-required="true" name="totaldoitac" ng-model="setting.info_website.totaldoitac" >
                        </div>
                    </div>
                </div>

            </div>
        </div>
         <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered custom-list-data1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase" ng-bind="title2"></span>
                </div>
            </div>
            <div class="portlet-body">

                <div class="row">
                    
                    <div class="col-md-6 col-sm-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Facebook</label>
                            <input type="text" class="form-control" name="facebook" ng-model="setting.info_website.facebook" >
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Skype</label>
                            <input type="text" class="form-control" name="skype" ng-model="setting.info_website.skype" >
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Instagram</label>
                            <input type="text" class="form-control" name="instagram" ng-model="setting.info_website.instagram">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 xs-640">
                        <div class="form-group">
                            <label class="next-label">Dribbble</label>
                            <input type="text" class="form-control" name="dribbble" ng-model="setting.info_website.dribbble">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Avatar</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="next-label">Logo</label>
                    <div class="file_upload_box">
                        <input name="logo" type="file" class="file_image">
                        <img class="image_review logo" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>

                <div class="form-group">
                    <label class="next-label">Logo white</label>
                    <div class="file_upload_box">
                        <input name="logo_white" type="file" class="file_image">
                        <img class="image_review logo_white" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>

                <div class="form-group image-upload" id="favicon">
                    <label class="next-label">Browser Logo (Favicon)</label>
                    <div class="file_upload_box">
                        <input name="favicon" type="file" class="file_image">
                        <img class="image_review favicon" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12">
        <div class="form-group">
            <button type="button" class="btn blue center-mod" ng-click="submit()">
                <span class="ladda-label">
                    <i class="fa fa-save"></i> Save</span>
            <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div></button>
        </div>
    </div>

</form>

<!-- Modal -->
<div id="modalMap" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Cọn vị trí công ty</h4>
        </div>

        <div class="modal-body">
            <p>Chọn vị trí trên bản đồ</p>
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="googleMap" style="width: 100%; height: 500px;"></div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-close width90" data-dismiss="modal">
                <i class="fa fa-close"></i>
                <span>Đóng</span>
            </button>

            <button type="button" class="btn btn-style width90" ng-click="apply_geolocation()">
                <i class="fa fa-check"></i>
                <span>Chọn</span>
            </button>
        </div>
    </div>

    </div>
</div>