<div class="row load_cart">
    
</div>


<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <!-- <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button> -->
</section>