body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.head-block{
	left: 0px;
	transform: translate(0,0);
}

.head-block .bg-logo-menu > .container{
	transition: all 0.3s ease;
}

@media screen and (min-width: 1400px){
	.head-block{
		left: 50%;
		transform: translateX(-50%);
	}
}

.footer-block .logo-box{
	width: 150px;
	height: 90px;
}

.footer-block .logo-box img{
	max-width: 100%;
	max-height: 100%;
}

.news-block-news .detail-box .sum-mod{
	height: 4.5em;
}

.widget-store{
	margin-bottom: 30px;
}

/* loading */
.block-page-all{
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	z-index: 2018;
	display: none;
}

.block-page-all.active{
	display: block;
}

.block-page-all .icon-mod{
	font-size: 50px;
	background: rgba(7, 86, 136, 0.5);
	color: #fff;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.block-page-all .icon-mod2{
	width: 120px;
	height: 120px;
	position: absolute;
	border-radius: 50%;
	border: 5px inset #fff;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top: -60px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.block-page-all .icon-mod2 {
  -webkit-animation: rotating 1.7s linear infinite;
  -moz-animation: rotating 1.7s linear infinite;
  -ms-animation: rotating 1.7s linear infinite;
  -o-animation: rotating 1.7s linear infinite;
  animation: rotating 1.7s linear infinite;
}
/* End loading */

#add_contact .form-group{
	position: relative;
}
#add_contact .form-group .error{
	position: absolute;
	left: 30px;
	bottom: 0px;
	font-weight: normal;
}

.contact-box{
	background: #fff;
	padding: 15px;
	box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
	border-top: 3px solid #269abc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.contact-box .head-mod .item-mod:after{
	content: "";
	display: block;
	clear: both;
}

.contact-box .head-mod .item-mod{
	position: relative;
}

.contact-box .head-mod .item-mod .img-box{
	width: 28%;
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.contact-box .head-mod .item-mod .detail-box{
	width: 70%;
	float: right;
}

.contact-box .head-mod .item-mod .img-mod{
	display: block;
	position: relative;
	padding-bottom: 100%;
	border: 1px solid #e12330;
	border-radius: 50%;
	overflow: hidden;
}

.contact-box .head-mod .item-mod .img-box img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

.contact-box .head-mod .item-mod .detail-box{
	padding-left: 10px;
}

.contact-box .head-mod .item-mod .detail-box .name-mod{
	display: block;
	color: #1b3280;
	margin-bottom: 3px;
}

.contact-box .phone-contact-box{
	background: #e12330;
	color: #fff;
	display: block;
	border-radius: 22px;
	padding-left: 40px;
	position: relative;
	padding-top: 3px;
	padding-bottom: 3px;
}

.contact-box .phone-contact-box .number-mod{
	display: block;
}

.contact-box .phone-contact-box .icon-mod{
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	text-align: center;
	font-size: 20px;
}

.contact-box .text-contact-box{
	margin-top: 30px;
	color: #1b3280;
	margin-bottom: 15px;
}

.widget-store .contact-box .form-control{
	margin: 0px;
	width: 100%;
	background: #effaff;
    border: 1px solid #84c4de;
    border-radius: 5px;
    height: 43px;
    margin-top: 14px;
    padding-left: 8px;
    font-size: 15px;
    color: #8493a8;
    font-weight: 300;
    box-shadow: none;
}

.contact-box #add_contact .form-group .error{
	position: static;
}

.contact-box .form-group:last-child{
	margin-bottom: 0px;
}

.contact-box .btn-info{
	margin: 0 auto;
	display: block;
}

.text-mod-c001{
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 17px;
}
.widget-store-767{
	position: relative;
}

.widget-store.du-an{
	border: none;
}

.item-du-an .price-mod-duan{
	position: absolute;
	right: 15px;
	bottom: 15px;
	color: #fff;
	background: rgba(7, 86, 136, 0.7);
	padding: 2px 5px;
}

.item-du-an .price-product{
	padding: 10px;
	border-top: 1px solid #ddd;
}

.item-du-an.product-block .detail-box .content-product{
	width: 100%;
	padding: 0px;
}

.item-du-an.product-block .detail-box{
	padding: 10px;
}

.item-du-an.product-block .detail-box .title-mod{
	font-size: 20px;
	color: #eb5155;
}

.item-du-an.product-block .detail-box .sum-mod{
	font-size: 14px;
	color: #3d4d65;
}

.item-du-an.product-block{
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
}

.product-block:hover{
	transform: none;
}

.detail-page .list-ctr-scroll{
	display: block;
	margin-bottom: 40px;
}

.detail-page .list-ctr-scroll:after{
	content: "";
	display: block;
	clear: both;
}

.detail-page .list-ctr-scroll li{
	float: left;
	display: block;
	margin-right: 10px;
	cursor: pointer;
	padding: 7px 10px;
	border: 1px solid #ddd;
	text-transform: uppercase;
	font-weight: bold;
}

.detail-page .list-ctr-scroll li:hover{
	color: #6ca9c8;
	border-color: #6ca9c8;
}

.detail-page .scroll-path{
	margin-bottom: 50px;
	position: relative;
	padding-top: 40px;
	padding-bottom: 15px;
}

.detail-page .video-detail{
	position: relative;
	padding-bottom: 50%;
}
.detail-page .video-detail iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.detail-page .scroll-path .title-mod{
	position: absolute;
	height: 30px;
	display: block;
	line-height: 30px;
	background: #fff;
	margin-top: -55px;
	z-index: 100;
	left: 0px;
	padding-left: 0px;
	padding-right: 20px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.slider-duan .img-box .img-mod{
	display: block;
	padding-bottom: 60%;
	position: relative;
}

.slider-duan .img-box .img-mod img{
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;
}


@media screen and (min-width: 1199px){
	.main-menu .item-menu > a{
		padding: 10px 10px;
	}
	.scroll-content.active .list-ctr-scroll{
		position: fixed;
		z-index: 500;
		top: 55px;
	}

	.scroll-content.active .list-ctr-scroll.possiton{
		display: none;
	}

	.scroll-content.active .list-ctr-scroll li{
		background: #fff;
	}
	.scroll-content.active{
		padding-top: 76px;
		position: relative;
	}

	.scroll-content.active .right-col.possiton{
		position: absolute;
		bottom: 0px;
		top: auto;
	}

	.scroll-content.active .right-col{
		position: fixed;
		top: 55px;
		width: 300px;
	}
}

@media screen and (max-width: 1199px){
	.scroll-content.active .right-col{
		right: auto !important;
	}

	.detail-page .list-ctr-scroll li{
		margin-bottom: 5px;
	}
}

.mfp-bottom-bar{
	margin-top: -20px;
}

.zoom-gallery .item-mod .img-mod{
	position: relative;
	padding-bottom: 60%;
	display: block;
	border: 1px solid #ddd;
}

.zoom-gallery .item-mod .img-mod img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}

.box-zoom-images.lienquan-single{
	padding-top: 0px;
	padding-bottom: 50px;
}

.detail-page .scroll-path:last-child{
	margin-bottom: 0px;
}
.zoom-gallery{
	margin-left: -5px;
	margin-right: -5px;
}

.zoom-gallery .col-sm-4{
	padding-left: 5px;
	padding-right: 5px;
}
.zoom-gallery .item-mod .img-mod{
	margin-bottom: 10px;
}

.detail-content{
	height: auto;
	max-height: none;
}