<form class="row" id="form_box">

    <div class="col-sm-8">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>

            </div>

            <div class="portlet-body form">

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label><span>Tiêu đề</span></label>
                            <input type="text" placeholder="Tiêu đề" name="title" class="form-control" ng-model="product.title">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="next-label">Trạng thái</label>
                            <select class="form-control" name="status" ng-model="product.status">
                                <option value="0">Kích hoạt</option>
                                <option value="1">Tạm dừng</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label><span>Mô tả ngắn</span></label>
                    <textarea class="form-control" name="summary" ng-model="product.summary" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <label><span>Nội dung</span></label>
                    <textarea id="content" class="form-control"></textarea>
                </div>

            </div>

        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Sơ đồ vị trí</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <div class="load_position"></div>
                </div>
            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase" ng-bind="seo_block_title"></span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="next-label">Meta keyword</label>
                    <input type="text" class="form-control" name="meta_keyword" ng-model="product.meta_keyword">
                </div>

                <div class="form-group">
                    <label class="next-label">Meta description</label>
                    <textarea class="form-control" name="meta_description" ng-model="product.meta_description"></textarea>
                </div>

            </div>
        </div>

    </div>

    <div class="col-sm-4">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Hình đại diện</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <div class="file_upload_box">
                        <input type="file" class="file_image">
                        <img class="image_review" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Danh mục</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="load_cat"></div>
            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Thông tin</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="next-label">Giá thuê</label>
                    <input ng-model="product.price" value="" type="text" class="form-control" name="price">
                </div>

            </div>
        </div>
        
    </div>

</form>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>