<form class="row" id="form_box">
	<div class="row">

        <div class="col-sm-8">

            <div class="portlet light bordered">

                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase">Chi tiết nhân viên</span>
                    </div>
                </div>

                <div class="portlet-body form">

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Tên</span>
                        </label>

                        <input name="title" data-lang="vn" type="text" placeholder="" class="form-control value_lang active" ng-model="doingu.title">
                    </div>

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Chức vụ</span>
                        </label>
                    
                        <textarea name="summary" data-lang="vn" placeholder="" class="form-control value_lang active" ng-model="doingu.summary" rows="5"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Mô tả</span>
                        </label>
                        
                        <div class="value_lang active" data-lang="vn">
                            <textarea name="content" id="content" class="form-control"></textarea>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-4">

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Hình đại diện</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-group">
                        <div class="file_upload_box">
                            <input type="file" class="file_image">
                            <img class="image_review" src="/public/img/no-image.png" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Thông tin</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-group red_code">
                        <label class="next-label">Trạng thái</label>
                        <select class="form-control" name="status" ng-model="doingu.status">
                            <option value="">--Chọn--</option>
                            <option value="0">Kích hoạt</option>
                            <option value="1">Tạm dừng</option>
                        </select>
                    </div> 
                </div>
            </div>
            
        </div>

    </div>
</form>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>