<div class="row">

    <div class="col-sm-12">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="next-label">Tên phân quyền</label>
                    <input ng-required="true" type="text" class="form-control" ng-model="function.name">
                </div>
                <div class="form-group">
                    <label class="next-label">Nhóm quyền</label>
                    <select class="form-control select2-group-urls"></select>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>