<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered custom-list-data1">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase" ng-bind="title"></span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="search-bar">
            <div class="row">
                <div class="col-sm-4">
                    <a href="/admin/hosting/new" class="btn-green btn-green-trans btn-add">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Tạo mới</span>
                    </a>
                </div>

                <div class="col-sm-8 c-boxctr-search">
                    <input type="text" placeholder="Tiêu đề" class="form-control search_title">
                    <button class="btn-ctrl btn-cyan-trans btn-search" type="button" ng-click="search_datatable()">
                        <i class="fa fa-search"></i>
                        <span> Tìm kiếm</span>
                    </button>

                    
                </div>
            </div>

        </div>
        <table id="tbl-data" class="table pos-hidenid table-striped table-bordered table-hover order-column" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Position</th>
                    <th>Thứ tự</th>
                    <th>Tiêu đề</th>
                    <th>Giá</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

<div class="modal fade modal_cmpost" id="modal_editrow" tabindex="-1" role="dialog" aria-labelledby="edit-modalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-modalLabel">Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                <form id="form_edit" autocomplete="off">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn_editrow"><i class="fas fa-pencil-alt"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>