<form class="row" id="form_box">

    <div class="col-sm-8">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>
            </div>

            <div class="portlet-body form">

                <div class="form-group">
                    <label class="lang_label">
                        <span>Tiêu đề</span>
                    </label>

                    <input name="title" data-lang="vn" type="text" placeholder="Tiêu đề" class="form-control value_lang active" ng-model="product.title">
                </div>

                <div class="form-group">
                    <label class="next-label">Giá</label>
                    <input type="number" class="form-control" name="price" ng-model="product.price">
                </div>
                
                <div class="form-group">
                    <label class="lang_label">
                        <span>Mô tả</span>
                    </label>
                    
                    <div class="value_lang active" data-lang="vn">
                        <textarea id="content" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="lang_label">
                        <span>Thông tin sản phẩm</span>
                    </label>

                    <div class="value_lang active" data-lang="vn">
                        <textarea id="thongtinsp" class="form-control"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Album hình</span>
                    </div>
                </div>
                
                <div class="portlet-body form">

                    <div class="form-group">
                        <label class="next-label">Album hình</label>
                        <div class="palyer-list-images">
                            <div id="load_albums" class="row text-center text-lg-left">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="next-label">Thêm hình</label>
                        <input type="file" id="gallery_player" name="img" multiple>
                    </div>

                    <div class="form-group">
                        <div class="palyer-list-images">
                            <div id="list-gallery" class="row text-center text-lg-left">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Tối ưu SEO</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <label class="next-label">Meta title</label>
                    <input type="text" class="form-control" name="meta_title" ng-model="product.meta_title">
                </div>

                <div class="form-group">
                    <label class="next-label">Meta description</label>
                    <textarea rows="5" class="form-control" name="meta_description" ng-model="product.meta_description"></textarea>
                </div>

            </div>
        </div>

        

    </div>

    <div class="col-sm-4">

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Hình đại diện</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <div class="file_upload_box">
                        <input type="file" class="file_image">
                        <img class="image_review" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Thông tin</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                        <label class="next-label">Danh mục</label>
                        <select class="form-control" name="id_product_cat" id="product_cat"></select>
                    </div>
                <div class="form-group lv0">
                    <label class="next-label">Trạng thái</label>
                    <select class="form-control" name="status" ng-model="product.status">
                        <option value="">--Chọn--</option>
                        <option value="0">Kích hoạt</option>
                        <option value="1">Tạm dừng</option>
                    </select>
                </div>
                <div class="form-group red_code">
                        <label class="next-label">Tình trạng</label>
                        <select class="form-control" name="noibat" ng-model="product.noibat">
                            <option value="1">Bình thường</option>
                            <option value="0">Mới</option>
                            <option value="2">Sale</option>
                        </select>
                    </div>
            </div>
        </div>
        
    </div>

</form>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>