.highcharts-button { cursor: pointer !important; }

.highcharts-menu-box { box-shadow: rgb(136, 136, 136) 3px 3px 10px; border: 1px solid rgb(160, 160, 160); padding: 5px 0px; background: rgb(255, 255, 255); display: inline-block; }
.highcharts-menu-item { padding: 3px 10px; color: rgb(48, 48, 48); font-size: 11px; background: none; display: inline-block; }

.d-charts { position: relative; }
.charts-container { margin: 0 auto; }
.charts-popup { position: absolute; z-index: 1000; padding: 0px; display: none; top: 40px; right: 14px; }
.options-chart { width: 100%; }