<form class="row" id="form_box">

    <div class="col-sm-8">

        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase" ng-bind="detail_block_title"></span>
                </div>
                <div class="actions box_lang_muti">
                        <div class="btn-group">
                            <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                                </li>
                                <li>
                                    <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>

            <div class="portlet-body form">

                <div class="form-group">
                    <label class="lang_label">
                        <span>Tiêu đề</span>
                        <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                            <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                    </label>

                    <input name="title" data-lang="vn" type="text" placeholder="Tiêu đề" class="form-control value_lang active" ng-model="payment_guide.title">
                    <input name="title_en" data-lang="en" type="text" placeholder="Tiêu đề (English)" class="form-control value_lang" ng-model="payment_guide.title_en">
                </div>

                

                <div class="form-group">
                    <label class="lang_label">
                        <span>Nội dung</span>
                        <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                            <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                    </label>
                    
                    <div class="value_lang active" data-lang="vn">
                        <textarea id="content" class="form-control"></textarea>
                    </div>
                    <div class="value_lang" data-lang="en">
                            <textarea id="content_en" class="form-control"></textarea>
                        </div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-sm-4">

        <div class="portlet light bordered hidden">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Hình đại diện</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    <div class="file_upload_box">
                        <input type="file" class="file_image">
                        <img class="image_review" src="/public/img/no-image.png" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Thông tin</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group lv0">
                    <label class="next-label">Trạng thái</label>
                    <select class="form-control" name="status" ng-model="payment_guide.status">
                        <option value="">--Chọn--</option>
                        <option value="0">Kích hoạt</option>
                        <option value="1">Tạm dừng</option>
                    </select>
                </div>
               
            </div>
        </div>
        
    </div>

</form>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>