<form class="row" id="form_box">
	<div class="row">

        <div class="col-sm-8">

            <div class="portlet light bordered">

                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase">Chi tiết bài viết</span>
                    </div>
                    <div class="actions box_lang_muti">
                        <div class="btn-group">
                            <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> <span class="name_mod">Vietnam</span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a data-lang="vn" class="pick_lang_muti" href="javascript:;">Vietnam</a>
                                </li>
                                <li>
                                    <a data-lang="en" class="pick_lang_muti" href="javascript:;">English</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="portlet-body form">

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Tiêu đề</span>
                            <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                            <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                        </label>

                        <input name="title" data-lang="vn" type="text" placeholder="Tiêu đề" class="form-control value_lang active" ng-model="library.title">
                        <input name="title_en" data-lang="en" type="text" placeholder="Tiêu đề (English)" class="form-control value_lang" ng-model="library.title_en">
                    </div>

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Mô tả ngắn</span>
                            <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                            <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                        </label>
                    
                        <textarea name="summary" data-lang="vn" placeholder="Nhập mô tả ngắn" class="form-control value_lang active" ng-model="library.summary" rows="5"></textarea>
                        <textarea name="summary_en" data-lang="en" placeholder="Nhập mô tả ngắn (English)" class="form-control value_lang" ng-model="library.summary_en" rows="5"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="lang_label">
                            <span>Nội dung</span>
                            <img class="lang_pick active" data-lang="vn" src="/public/img/vn.png" alt="">
                            <img class="lang_pick" data-lang="en" src="/public/img/en.png" alt="">
                        </label>
                        
                        <div class="value_lang active" data-lang="vn">
                            <textarea name="content" id="content" class="form-control"></textarea>
                        </div>
                        <div class="value_lang" data-lang="en">
                            <textarea id="content_en" class="form-control"></textarea>
                        </div>
                    </div>

                </div>

            </div>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Tối ưu SEO</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-group">
                        <label class="next-label">Meta title</label>
                        <input type="text" class="form-control" name="meta_title" ng-model="library.meta_title">
                    </div>

                    <div class="form-group">
                        <label class="next-label">Meta description</label>
                        <textarea rows="5" class="form-control" name="meta_description" ng-model="library.meta_description"></textarea>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Hình đại diện</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-group">
                        <div class="file_upload_box">
                            <input type="file" class="file_image">
                            <img class="image_review" src="/public/img/no-image.png" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">Thông tin</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-group">
                        <label class="next-label">Danh mục</label>
                        <select class="form-control" name="id_library_cat" id="library_cat"></select>
                    </div>

                    
                    <div class="form-group red_code">
                        <label class="next-label">Trạng thái</label>
                        <select class="form-control" name="status" ng-model="library.status">
                            <!-- <option value="">--Chọn--</option> -->
                            <option value="0">Kích hoạt</option>
                            <option value="1">Tạm dừng</option>
                        </select>
                    </div>

                    <div class="form-group red_code">
                        <label class="next-label">Nổi bật</label>
                        <select class="form-control" name="hight_flg" ng-model="library.hight_flg">
                            <!-- <option value="">--Chọn--</option> -->
                            <option value="0">Không</option>
                            <option value="1">Có</option>
                        </select>
                    </div>
                    
                </div>
            </div>
            
        </div>

    </div>
</form>

<section class="g-button clearfix text-center">
    <button type="button" class="btn default" ng-click="back()"> <i class="fa fa-long-arrow-left"></i> Trở về</button>

    <button type="button" class="btn green" ng-click="submit()"> <i class="fa fa-save"></i> Lưu</button>
</section>